@(message: String)

@main("About The Lunch Newtwork") {
     <h1>About The Lunch Network</h1>
     
	  <p>     
      The Lunch Network is simple web application that let's people
      randomly schedule lunches with each other.
      </p>
      <br/>
      <p>
      One of the important goals of this application is to create a
      simple <a href="http://www.playframework.com/">Playframework</a> 
      "examplar" application that can be used to teach people about 
      the Play Framework and Scala. Consequently, even though I believe 
      we'll end up with an integrated graph database to capture people's 
      relationships, the application is starting with an
      RDBMs persistence so that anorm can be illustrated.
	  </p>
     
}
