@(message: String)

@main("Welcome to The Lunch Network") {

    

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Welcome to The Lunch Network...</h1>
        <p>Create a profile and then what the heck, go to lunch!</p>
        <p><a href="@routes.UserProfileController.view" class="btn btn-primary btn-large">Create or update your profile &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Extend yourself</h2>
          <p>By building a network of contacts within the company you'll have 
             an opportunity to create new relationships, learn interesting things
             from interesting people and turn your lunch into an opportunity for growth!</p>
        </div>
       
        <div class="span4">
          <h2>Learn how we get things done</h2>
          <p>Fundamentally, the company is really just a collection of people who 
             know how to <strong>get things done!</strong> By taking the time 
             to meet with your co-workers you're spreading your knowledge and building 
             up informal channels of communication that help the company
             grow into new opportunities and deal with new challenges in 
             effective and productive ways. 
          </p>
        </div>
        
        <div class="span4">
          <h2>Here's how it works</h2>
          <p>You start by creating a profile that let's the us 
             schedule lunch dates for you. Then you tell us when you're 
             free and we email when we've matched you up with one or
             more people to have lunch with.  
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>

      </div>

    
}
